* {margin:0;padding:0;} img{width:100%;border:none;} a{text-decoration:none;}.fl{float:left;}.fr{float:right;}
body{font-family:"Helvetica Neue",Hiragino, Sans, GB, W3, Tahoma,Helvetica,Arial,"微软雅黑",sans-serif;background-color:#f5f4f0;background-size:150px 150px;margin:0;padding:0;-webkit-text-size-adjust:100%!important;}
.none{display:none}
.clear{clear:both;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance:none;margin:0;}
input[type="search" i] {-webkit-appearance: searchfield;box-sizing: border-box;}
a{-webkit-tap-highlight-color:transparent;text-decoration: none;}
a:active{background-color:transparent;}
a:active,a:hover{outline:0 none;}
.header{
	width: 100%;
	margin-bottom: 12px;
}
.header img {
	width: 100%;
}
.deatial{
}
.proj{
	background-color: #FFF;
	background: white;
	font-size: 16px;
	margin-top: 10px;
	border-bottom: 1px solid #ECECEC;
}
.proj .tt{
	height: 40px;
	line-height: 40px;
	padding-left: 12px;
	font-size: 16px;
	color:#554E4A;
	border-top: 1px solid #ECECEC;
	border-bottom: 1px solid #ECECEC;
	padding: 0 15px;
}
.proj .tt .bb{
	border-bottom: 2px solid #FF9558;
	display: inline-block;
	line-height: 38px;
	color: #554E4A;
	text-shadow:1px 0px #554E4A;
}
.proj .tt .arr img {
width: 9px;
height: 17px;
margin-top: 12px;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.proj .desc{
	padding: 10px 15px;
	color: #554E4A;
}
.proj .desc img{
	width: 100%;
	margin-bottom: 8px;
}
.xybs{
	margin-top:10px;
	position: relative;
	padding: 10px 15px 15px;
	background: white;
	font-size: 16px;
	border-top: 1px solid 	#ECECEC;
	border-bottom: 1px solid 	#ECECEC;
}
.xybs .tt{
	color: #5F5652;
	font-size: 18px;
	font-weight: bold;
	text-shadow:1px 0px #554E4A;
}
.xybs .tt span{
	color: #FF6811;
	margin: 0 3px;
	text-shadow:1px 0px #FF6811;
}
.xybs .ctx {
	overflow: hidden;
}
.xybs .ctx .imgs {
	width: 90%;
	margin-top: 10px;
}
.xybs .ctx .imgs .li {
	width:18%;
	margin-right: 2%;
	text-align: center;
}
.xybs .ctx .imgs .li .head {
	border-radius: 50%;
	box-sizing: border-box;
}
.and_icon_8 {
	width: 9px;
	height: 9px;
	background-position: -32px -63px;
}
.xybs .ctx .arr {
	margin-top: 10px;
}
.xybs .arr img {
    height: 17px;
    margin-top: 12px;
    width: 9px;
}
.xybs .desc{
	background:#F0EFEB;
	border-radius: 6px;
	padding: 10px 5px;
	z-index: 9;
	color: #56504D;
	font-size: 14px;
	text-align: center;
}

.xybs .desc span {
	color: #FF6811;
	margin: 0 3px;
	font-size:16px;
	font-weight: bold;
}
.xybs .desc .d {
color: #B0A7A2;
font-size: 13px;
margin-top: 5px;
}
.and_img_detail {
	display: inline-block;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(http://mat1.gtimg.com/gongyi/m/wx/and_img_detail.png?1);
	background-size: 127px 82px;
}
.btns{
	background: #fff none repeat scroll 0 0;
    border-top: 1px solid #dad7d0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 200;
    margin-top: 12px;
}

.btns .btn {
    background: #ff6811 none repeat scroll 0 0;
    border: 1px solid #fe7225;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
}
.btns img {
    height: 20px;
    margin-right: 5px;
    vertical-align: -4px;
    width: 20px;
}