@charset "utf-8";
/* CSS Document */

body {
	background:#f8f8f8;
	margin:0px;
	padding:0px;
	font-family:"微软雅黑",Helvetica,Arial,sans-serif;
	font-size: 14px;
    line-height: 20px;
}
ul {
	list-style-type:none;
	 margin: 0px;
   	 padding: 0px;
}
a {
	text-decoration:none;
}
.clear{
	clear: both;
}
.bodycolor{
	background-color: #f1f1f1;
}
/*********系统按钮  样式 开始***********/
.postbutton {
	clear:both;
	width:193px;
	margin-left:110px;
}
.but{
	color: #ffffff;
	font-size:13px;
	padding: 5px 20px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-right: 20px;
}
.butMini {
	color: #ffffff;
    font-size: 12px;
    padding: 1px 6px;
    margin-right: 12px;
}
.button{
	background:url(../images/button.png) repeat-x;
}
.but-mini {
    border-radius: 3px;
    font-size: 10.5px;
    padding: 1px 6px;
}
.button a{
	color:#FFF;
}
.butSave {
	background:url(../images/but_save.png) repeat-x;
}
.butCancle {
	background:url(../images/but_cancle.png) repeat-x;
}
.dis{
	color:#cccccc;cursor: pointer;
}
/***********系统按钮  样式 结束************/
/**表单页面 样式 开始**/
/*form页面 tab样式 直接饮用jquery ui*/
.ui-widget-header {
    background: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCCCCC;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.ui-helper-reset {
    border: 0 none;
    font-size: 100%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    border-collapse: collapse;
    content: "";
    display: table;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    border-collapse: collapse;
    content: "";
    display: table;
}
/*form页面 tab样式 直接饮用jquery ui 结束*/
.frmTitle{
	border-bottom: 1px solid #FF9F29;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 5px;
	margin-bottom: 12px;
	color: #FF9F29;
	margin-top: 12px;
	cursor: pointer;
}
.frmContent{
	background-color: #f8f8f8;;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    color: #767474;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.frmContent from table{
	width: 92%;
	border: 1px solid  #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC
}
.frmContent form table tr{
	height: 40px;
}
.frmContent form table tr td{
	padding-left: 12px;
}
.formTableTdLeft{
	width: 100px;
	font-size: 13px;
    font-weight: normal;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #EEEEEE;
    cursor: not-allowed;
}

.text {
	height:30px;
	border:1px solid #e3e3ee;
	background-color:#FFF;
	color: #555555;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    padding-left: 5px;
    
}
.textarea{
	height: 80px;
}
.frmContent select{
	height: 36px;
	line-height: 36px;
	font-size: 14px;
}
.success{
	border-color: #468847;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #468847;
}
.error{
	border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #B94A48;
}
.small{
	width: 80px;
}
.midea{
	width: 120px;
}
.mideaX{
	width: 160px;
}
.mideaXX{
	width: 200px;
}
.large{
	width: 240px;
}
.largeX{
	width: 280px;
}
.largeXX{
	width: 320px;
}
.largeXXX{
	width: 480px;
}
.formButton{
	width: 92%;
	margin: 0 auto;
	padding-left: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}
/*表单样式 结束*/

/*页面头部 样式表 开始*/
.head {
	background:url(../images/headbg.png) repeat-x;
	height:71px;
	width:100%;
	display: table;
	min-width: 1280px;
}
.logo {
	background:url(../images/logo.png) no-repeat;
	width:120px;
	height:60px;
	margin-top:7px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}
.head_nav {
	margin-top:20px;
	font-size:16px;
	font-weight:600;
	color:#5b5555;
	z-index: 999;
	float: left;
}
.head_nav a{
	letter-spacing:2px;
	color:#5b5555;
	float: left;
    margin-right:12px;
	padding-bottom:5px;
}
.head_nav a:hover {
    color: #46A0DE;
    text-decoration: none;
}
.head_nav a.active{
	border-bottom:4px solid #39F;
}
.head_nav a.active:hover{
	color:#5b5555;
}
.headerMore{
	cursor: pointer;
	z-index: 999;
}
.headerDropDownMenu{
	width:200px;
	letter-spacing:2px;
	background:#f3f3f3;
	border:1px solid #d2d2d2; 	
	border-radius:1px;
	font-family:"微软雅黑";
	position: absolute;
	margin-top: -2px;
	z-index: 999;
}
.headerDropDownMenu ul
{
    list-style-type:none;
    padding:0;
}
.headerDropDownMenu li{
	float: left;
	height: 40px;
}
.headerDropDownMenu a:link,a:visited {
	text-align:right;
    padding:6px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:left;
    display:block;
   	margin: 1px 0;
   	border-bottom: 0;
}
.headerDropDownMenu a:hover {
    border-bottom:4px solid #39F;
}

.headerDropDownMenuActive {
    border-bottom:4px solid #39F;
}
.headerDropDownMenuActive a:HOVER{
	border-left:0px solid #ff9f29;
}
/*页面头部 样式表 结束*/

/*导航栏目 开始*/
.leftMenuOld {
	float:left;
	background:#333638;
	width:145px;
	border-left: 0 none;
    height: auto;
    position: absolute;
}
.mainContentOld{
    left: 150px;
    overflow: hidden;
    position: absolute;
    right: 0;
    z-index: 4;
}
#leftMenu {
	left: 0;
    top: 71px;
    width: 190px;
    border-left: 0 none;
    bottom: 0;
    height: auto;
    left: 0px;
    position: absolute;
    overflow: hidden;
}
#mainContent{
    left: 195px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 71px;
    z-index: 4;
}
#contentUrl{
	 height: 100%;
    width: 100%;
    z-index: 5;
}
.user {
	background:#414141;
	width:122px;
	height:81px;
	margin-bottom:10px;
	padding-top:13px;
	padding-left:22px;
	font-size:14px;
	color:#d1cecf;
}
.user_a {
	margin-top:10px;
}
.user_a a {
	color:#d1cecf;
}
.left_nav {
	font-size:13px;
	width: 145px;
}
.left_nav ul{
	margin-left: 20px;
	overflow: auto;
}
.left_nav li{
}
.left_nav li.active{
	line-height:28px;
	color: #46A0DE;
	background:url(../images/triIcon.png) right no-repeat;
}
.left_nav li.active a{
	color: #46A0DE;
}
.left_nav a{
	color: #A6AFB9;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}
.left_nav a:hover {
    color: #46A0DE;
    text-decoration: none;
}
.left_nav a.active{
	line-height:28px;
	color: #46A0DE;
	background:url(../images/triIcon.png) right no-repeat;
}
.main_main_top {
	background:#f1f1f1 repeat-x;height:95px;
}
/*导航栏目 结束*/

/***数据列表 样式开始***/
.listOperate {
	font-size:14px;
    color:#FFF;
    margin-left: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.operate{
	float: left;
	margin-top: 3px;
}
.seracrhOperate{
	float: right;
}
.searchTable{
	color: #767474;
}
.searchTable label{
	margin-right: 5px;
}
.searchIcon {
	background:url(../images/searchicon.png) no-repeat;
	width:32px;
	height:28px;
	cursor: pointer;
}
/*表单页面查询面板 样式   结束**/
.mainTable{
	background-color: #f8f8f8;
}
.mainTable thead{
	background:url(../images/listheadbg.png) repeat-x;height:36px;
}
.mainTable thead td{
	text-align: center;color: #5B5555;
	font-size: 14px;
	font-weight: normal;
}
.mainTable .sn{
	width: 30px;
}
.mainTable .span1{
	width: 60px;
}
.mainTable .span2{
	width: 80px;
}
.mainTable .span3{
	width: 120px;
}
.mainTable .span4{
	width:160px;
}
.mainTable .span5{
	width: 200px;
	text-align: left;
}
.mainTable .span6{
	width: 250px;
	text-align: left;
}
.mainTable .span7{
	width:320px;
	text-align: left;
}
.mainTable td{
	height:32px;
	border-bottom:1px solid #CCC;
	font-size: 12px;
	text-align: center;
	color: #767474;
}
.main_main_form_head td{
	border-right:1px solid #CCC;
}
.location {
	font-size:12px;
	height:40px;
	line-height: 40px;
	margin-left: 10px;
}
.location a{
	color:#767474;
}
/***数据列表 样式开始***/
.line {
	background:#e5e5e5;
	height:1px;
	width:100%;
}
.content {
	margin:20px 40px;
	font-size:12px;
}
.table td{
	height:40px;
    width:70px;
	padding-bottom:10px;
}
.biankuang {
	height:30px;
	width:190px;
}
.list {
	float:left;
	margin-top:32px;
}
.list ul {
	list-style-type:none;
	padding:0;
	margin:0;
}
.list li{
	padding-bottom:28px;
}
.aedit{
	color: #2b7dbc;
}

/******系统分页样式     开始*******/
.pagination {
	font-size:12px;
	float:right;
	display:inline-block;
	margin-top: 12px;
	margin-bottom: 20px;
}
.pagination ul{
	border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}
.pagination li{
	display:inline;
}
.pagination li a{
 	background:url(../images/pagebg.png) repeat-x;
	border:1px solid #c6ccd2;
	line-height:1.42857;
	float: left;
	margin-left:-1px;
	padding:6px 12px 5px 12px;
	position:relative;
	text-decoration:none;
	color:#000; 
}
.pagination li a:hover {
	color:#36F;
}
.pagination .active a{
	background:url(../images/pageactive_07.png) repeat-x;
	color:#fff;
}
.pagination .active a:hover{
	color:#fff;
}
.pagination .disabled a{
	border-color:#dddddd;
	color:#999999;
}
.pagination .disabled a:hover{
	color:#999999;
}
/******系统分页样式     结束*******/
/******系统提示信息样式***********/
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px;
    color: #C09853;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
.alert-info {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #3A87AD;
}

.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert-block {
    padding-bottom: 14px;
    padding-top: 14px;
}
.depDiv{
	width: 625px;overflow: hidden;
}
.fillBox{
	margin-left: -8px;
}
.fillAddr{
    background: none repeat scroll 0 0 #E5E5E5;
    border-radius: 2px;
    cursor: default;
    float: left;
    margin: 5px 7px 2px 8px;
    padding: 0 5px;
    white-space: nowrap;
}
.fillAddr b{
	font-weight: normal;
}
.addrDel {
    background: url("../images/bizmail/ico_biz0c07e5.png") no-repeat scroll -60px 3px rgba(0, 0, 0, 0);
    border-radius: 2px;
    display: inline-block;
    height: 13px;
    margin: -3px 0 0 -4px;
    overflow: hidden;
    vertical-align: middle;
    width: 13px;
}
/*文件上传功能模块*/
.uploadFileContent{
	width: 400px;font-size: 12px;
}
.fileContent{
	width: background: #F6F6F6;padding: 0px 5px 5px 5px;float: left;
}
/* Error */
.red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}
.thumbnail{
	float:left;width:30px;height:30px;background-image: url('..//widgets/SWFUpload/images/word.jpg');
}
.uploadFile{
	padding-left:4px;float: left;
}
.fileName{
	
}
.fileName  b{
	font-weight: bold;cursor: pointer;width: 200px;
}
.fileName  a{
	float: right;
	cursor:pointer;
}
.uploadState{
	
}
.uploadState .stateError{
	padding-left: 2px;color: red;
}
.stateSuccess{
	padding-left: 2px;color: blue;
}
.uploadState .stateWating{
	color: blue;
}
.progressbar{ 
	border:1px solid #333; height:5px; background:#fff; width: 80px;float: left;
	margin-top: 4px;margin-bottom: 4px;
}
.progress{ 
	background:#999; width:20%; height:5px; 
}
.amount{
 padding-left: 5px;
}
.amount span{
	padding-right: 5px;
}
/*附件信息查看列表样式*/
.attach{
	width: 480px;
	font-size: 12px;
}
.attachOne{
	height: 24px;
	margin: 2px 5px 2px 5px;float: left;
}
.attach b{
	font-weight: normal;line-height: 24px;
}

/**列表页面下拉操作栏目**/
.dropDownContent{
	margin: 5px;cursor: pointer;z-index: 999;
	color: #2b7dbc;
	font-weight: bold;
}
.drop_down_menu {
	width:180px;
	background:#f3f3f3;
	border:1px solid #d2d2d2; 	
	border-radius:1px;
	font-family:"微软雅黑";
	position: absolute;
	margin-top: -2px;
	z-index: 999;
}
.drop_down_menu ul
{
    list-style-type:none;
    padding:0;
}
.drop_down_menu a:link,a:visited {
    font-size:12px;
    color:#999;
	text-align:right;
    padding:6px;
    text-decoration:none;
    text-transform:uppercase;
    text-align:left;
    display:block;
   	margin: 1px 0;
}
.drop_down_menu a:hover {
    background-color:#edede4;
    border-left:6px solid #ff9f29;
}

.drop_down_menu_active {
	background-color:#edede4;
    border-left:6px solid #ff9f29;
}
.drop_down_menu_active a:HOVER{
	border-left:0px solid #ff9f29;
}
.hiden{
	display: none;
}
.show{
	display: ;
}

/**列表页面下拉操作栏目   end**/
.program{
	width: 145px;
	background-image: url('../images/program.png');
	background-repeat:no-repeat;
	height:14px;
	float:left;
	padding-top:18px;
	text-align: center;
	
}
.programActive{
	width: 147px;
	background-image: url('../images/programActive.png');
	background-repeat:no-repeat;
	height:14px;
	float:left;
	padding-top:18px;
	text-align: center;
}
/**tip 提示信息**/
.tip{
	cursor: pointer;
	color: #46A0DE;
}
p#vtip2 {
	position: absolute;
	padding: 10px;
	left: 50%;
	font-size: 12px;
	font-family: '微软雅黑';
	background-color: #222222;
	border: 1px solid #222222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#ffffff;
	border-radius:4px;
	z-index: 9999;
	min-width: 200px;
	min-height: 100px;
	max-width: 300px;
}

p#vtip2 #vtip2Arrow {
	position: absolute;
	top: -10px;
	left: 5px
}

p#vtip2 #vtip2Arrow {
	position: absolute;
	top: -10px;
	left: 5px
}

p#vtip2 #vtip2Arrow {
	position: absolute;
	top: -10px;
	left: 5px
}
#detail_nav {
    height: 38px;
    position: relative;
    width: 100%;
}
.new_details .detail_group {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}
.detail_report {
    border: none;
	border-bottom: solid 1px #ddd;
	padding: 10px 0px;
}
.clearfix::after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.padding10 {
    padding: 0 10px;
}
.clearfix {
    display: block;
    width: 92%;
    margin: 0 auto;
}
ol, ul {
    list-style: outside none none;
    vertical-align: baseline;
}
.detail_tap {
    background: none repeat scroll 0 0 #fff;
    box-sizing: border-box;
    color: #ff9f29;
    font-size: 12px;
    line-height: 33px;
    text-align: center;
    width: 50%;
}
.detail_tap4{
	border-color: #ff9f29;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
	width: 25%;
	cursor: pointer;
}
.detail_tap5{
	border-color: #ff9f29;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
	width: 20%;
	cursor: pointer;
}
.detail_tap3{
	border-color: #ff9f29;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
	width: 33%;
	cursor: pointer;
}
.detail_tap.select,.detail_tap4.select {
    background: none repeat scroll 0 0 #ff9f29;
    color: #fff;
}
.detail_tap:first-child {
    border-color: #ff9f29;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px medium 1px 1px;
}
.detail_tap4:first-child{
	border-color: #ff9f29;
    border-image: none;
    border-style: solid solid solid solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px 1px 1px 1px;
}
.detail_tap5:first-child{
	border-color: #ff9f29;
    border-image: none;
    border-style: solid solid solid solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width: 1px 1px 1px 1px;
}
.detail_tap:last-child {
    border-bottom-right-radius: 4px;
    border-color: #ff9f29;
    border-image: none;
    border-style: solid solid solid none;
    border-top-right-radius: 4px;
    border-width: 1px 1px 1px medium;
}

.pull_left {
    float: left;
}
.stat-boxes{
    display: inline-block;
    list-style: outside none none;
    margin: 20px 0 10px;
    text-align: center;
}

.stat-boxes li {
    background-color: #f6f6f6;
    background-image: -moz-linear-gradient(center top , #f9f9f9 0%, #ededed 100%);
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #ffffff inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    line-height: 18px;
    margin: 0 10px 10px;
    padding: 0 10px;
}
.row-fluid{
margin-left: 5px;margin-right: 5px;
}
.uploadImage{
	display:block;
}
#cboxClose {
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 32px;
    color: #fff;
    font-size: 21px;
    height: 28px;
    margin-left: -15px;
    position: absolute;
    top: 14px;
    width: 28px;
}


ul, ol {
    margin: 0 0;
    padding: 0;
}
.tab_navs{
	list-style-type: none;border-top-width: 0; background-color: #fff;height: 38px;line-height: 38px;  border-bottom: 1px solid #e7e7eb;box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5) inset;line-height: 30px; text-align: center;
}

.tab_nav {
	float: left;font-size: 14px; line-height: 38px;
}
.tab_nav.selected {
    background-color: #fff;
}
.tab_nav a {
    color: #222;
    display: block;
    outline: 0 none;
    padding: 0 20px;
    text-decoration: none;
}

.tab_appmsg.selected .icon_msg_sender, .tab_appmsg:hover .icon_msg_sender {
    background: rgba(0, 0, 0, 0) url("..//images/msg_tab_z25df2d.png") no-repeat scroll 0 -270px;
}
.tab_appmsg .icon_msg_sender {
    background: rgba(0, 0, 0, 0) url("..//images/msg_tab_z25df2d.png") no-repeat scroll 0 -240px;
}

.tab_text .icon_msg_sender {
    background: rgba(0, 0, 0, 0) url("..//images/msg_tab_z25df2d.png") no-repeat scroll 0 0;
}

.tab_text.selected .icon_msg_sender, .tab_text:hover .icon_msg_sender {
    background: rgba(0, 0, 0, 0) url("..//images/msg_tab_z25df2d.png") no-repeat scroll 0 -30px;
}
.icon_msg_sender {
    display: inline-block;
    height: 20px;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
    width: 20px;
}
.icon_msg_sender {
    display: inline-block;
    height: 20px;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
    width: 20px;
}
.tab_nav.selected .msg_tab_title {
    color: #222;
}
.tab_nav .msg_tab_title {
    color: #8d8d8d;
}
.tab_panel {
    background-color: #fff;
    min-height: 216px;
}
.tab_content {
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    padding: 14px 20px;
}
.inner{
 border-width: 0;
}
.tab_cont_cover {
    overflow: hidden;
}
.media_cover {
    float: left;
    margin-right: 2%;
    width: 48%;
}
.create_access {
    border: 2px dotted #d9dadc;
    display: block;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
    padding: 82px 0;
    position: relative;
}
.create_access:HOVER {
    border-color:#b3b3b3;
}
.create_access a {
    color: #8d8d8d;
    font-size: 14px;
    line-height: normal;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.add_gray_wrp{
	display: inline-block;
}

.icon36_common.add_gray {
    background: rgba(0, 0, 0, 0) url("..//images/base_z284ee4.png") no-repeat scroll 0 -2839px;
}
.create_access i {
    cursor: pointer;
}
.icon36_common {
    display: inline-block;
    height: 36px;
    line-height: 300px;
    overflow: hidden;
    vertical-align: middle;
    width: 36px;
}

.create_access a strong {
    display: block;
    font-style: normal;
    font-weight: 400;
     padding-top: 2px;
}

.emotion_editor {
    border: 1px solid #e7e7eb;
	border-width: 0;
    border-radius: 0;
    position: relative;
    z-index: 1;
}
.emotion_editor .edit_area {
    background-color: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 188px;
    outline: 0 none;
    padding: 14px 20px;
    word-break: break-all;
    word-wrap: break-word;
}

.editor_toolbar::after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.editor_toolbar {
    background-color: #fff;
    border-top: 1px solid #e7e7eb;
    line-height: 36px;
    padding: 0 20px;
}

.icon_emotion.emotion_switch {
    background: rgba(0, 0, 0, 0) url("../images/emotion_editor_z218878.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}
.icon_emotion.emotion_switch:HOVER {
    background: rgba(0, 0, 0, 0) url("../images/emotion_editor_z218878.png") no-repeat scroll 0 -30px;
}
.emotion_switch {
    float: left;
    height: 28px;
    line-height: 999em;
    margin-top: 8px;
    overflow: hidden;
}
.editor_tip {
    color: #8d8d8d;
    float: right;
}
.emotion_wrp {
    display: none;
    left: -1px;
    position: absolute;
    top: 100%;
    width: 421px;
}

.emotions {
    -moz-user-select: none;
    background-color: #e7e7eb;
    border-right: 1px solid #c0bfc5;
    border-top: 1px solid #c0bfc5;
    overflow: hidden;
}

.emotions_item {
    background-color: #fff;
    border-bottom: 1px solid #c0bfc5;
    border-left: 1px solid #c0bfc5;
    float: left;
    font-size: 0;
    height: 27px;
    line-height: 27px;
    text-align: center;
    width: 27px;
}
.emotions_item i {
    background: transparent url("../images/default218877.gif") no-repeat scroll 0 0;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;
}
.staltalbe thead td{
	border-top: 1px solid #999;
	font-weight: bold;
	background-color: #cccccc;
}
.staltalbe{
	width: 98%;line-height: 28px;border: 0px;margin: 0 auto;margin-top: 10px;font-family: '微软雅黑'
}
.staltalbe td{
	border-bottom: 1px solid #999;border-right: 1px solid #999;text-align: center;
}
.staltalbe td:FIRST-CHILD{ 
	border-left: 1px solid #999;
}
.staltalbe tr:last-child td{
}
.staltalbe .label{
	text-align: center;font-weight: bold;
}
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
.layui-elem-field {
    margin-bottom: 10px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
}
.layui-field-title {
    margin: 10px 0 20px;
    border-width: 1px 0 0;
}
.layui-elem-field legend {
    margin-left: 20px;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
    }
  .buttonSerach{
  	background-color: #3eb94e;height: 40px;line-height: 40px;padding: 0px 12px;color: white;text-align: center;cursor: pointer;width: 120px;margin: 0 a
  }
  .buttonSerach:HOVER {
  	background-color: #3eb94e
	}
   .searchTable a{
   		color: #2b7dbc;
   		padding: 0px 8px;
   } 
  .searchTable tr{
  	height: 40px;
  }
  .totalTr{
  	font-weight: bold;background-color: #009688;color: white;
  } 


